# SETUP

In [1]:
import pandas as pd
import numpy as np

%matplotlib inline

In [4]:
file = '/Users/quartz/Google Drive/learning_analytics/learning_analytics_fundamentals/studentInfo.csv'
D1 = pd.read_csv(file)
D1.tail()

,code_module,code_presentation,id_student,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result
32588,GGG,2014J,2640965,F,Wales,Lower Than A Level,10-20,0-35,0,30,N,Fail
32589,GGG,2014J,2645731,F,East Anglian Region,Lower Than A Level,40-50%,35-55,0,30,N,Distinction
32590,GGG,2014J,2648187,F,South Region,A Level or Equivalent,20-30%,0-35,0,30,Y,Pass
32591,GGG,2014J,2679821,F,South East Region,Lower Than A Level,90-100%,35-55,0,30,N,Withdrawn
32592,GGG,2014J,2684003,F,Yorkshire Region,HE Qualification,50-60%,35-55,0,30,N,Distinction

In [5]:
# data type : int64 - id_student, num_of_prev_attempts, studied_credits

D1.dtypes

code_module             object
code_presentation       object
id_student               int64
gender                  object
region                  object
highest_education       object
imd_band                object
age_band                object
num_of_prev_attempts     int64
studied_credits          int64
disability              object
final_result            object
dtype: object

In [6]:
# Nan Value

D1.isna().sum()

code_module                0
code_presentation          0
id_student                 0
gender                     0
region                     0
highest_education          0
imd_band                1111
age_band                   0
num_of_prev_attempts       0
studied_credits            0
disability                 0
final_result               0
dtype: int64

In [7]:
# How many student?

n = len(np.unique(D1.id_student))
print("The number of students is %d" % (n))

The number of students is 28785

In [8]:
# Gender ratio

D1.gender.value_counts()

M    17875
F    14718
Name: gender, dtype: int64

In [9]:
# region

D1.region.value_counts()

Scotland                3446
East Anglian Region     3340
London Region           3216
South Region            3092
North Western Region    2906
West Midlands Region    2582
South West Region       2436
East Midlands Region    2365
South East Region       2111
Wales                   2086
Yorkshire Region        2006
North Region            1823
Ireland                 1184
Name: region, dtype: int64

In [10]:
# highest education

D1.highest_education.value_counts()

A Level or Equivalent          14045
Lower Than A Level             13158
HE Qualification                4730
No Formal quals                  347
Post Graduate Qualification      313
Name: highest_education, dtype: int64

In [11]:
# IMD band

D1.imd_band.value_counts()

20-30%     3654
30-40%     3539
10-20      3516
0-10%      3311
40-50%     3256
50-60%     3124
60-70%     2905
70-80%     2879
80-90%     2762
90-100%    2536
Name: imd_band, dtype: int64

In [12]:
# age band

D1.age_band.value_counts()

0-35     22944
35-55     9433
55<=       216
Name: age_band, dtype: int64

In [13]:
# How many presentation

D1.code_presentation.value_counts()

2014J    11260
2013J     8845
2014B     7804
2013B     4684
Name: code_presentation, dtype: int64

In [14]:
# num of prev attempts

D1.num_of_prev_attempts.value_counts()

0    28421
1     3299
2      675
3      142
4       39
5       13
6        4
Name: num_of_prev_attempts, dtype: int64

In [15]:
# study of credits

D1.studied_credits.value_counts()

60     16751
120     6328
30      3749
90      3144
180      830
150      769
240      220
210      169
75       108
70        96
270       45
130       38
45        36
135       35
100       30
300       29
80        26
40        22
160       14
105       13
330       12
110       11
195       11
165        9
220        9
50         7
145        7
170        6
190        6
360        6
       ...
140        5
85         4
200        3
95         3
55         3
225        3
250        3
280        3
205        2
310        2
400        2
430        1
480        1
370        1
175        1
65         1
235        1
355        1
420        1
325        1
155        1
540        1
390        1
630        1
215        1
255        1
345        1
585        1
315        1
655        1
Name: studied_credits, Length: 61, dtype: int64

In [16]:
# How many module

D1.code_module.value_counts()

BBB    7909
FFF    7762
DDD    6272
CCC    4434
EEE    2934
GGG    2534
AAA     748
Name: code_module, dtype: int64

In [17]:
# disability

D1.disability.value_counts()

N    29429
Y     3164
Name: disability, dtype: int64