# Week 2 Activity

## Instructions

***If you have any issues, please visit the help section of the course.***

***To reset all of the outputs, use the menu to go to Cell -> All Output -> Clear***

**For this assignment, make sure to start from the top and work down**

1) First, import the studentinfo.csv dataset into R as a data frame named D1. To do so, click on the cell below and press Shift + Enter

In [ ]:
D1 <- read.csv("studentInfo.csv", header=TRUE)

2) Create a new dataframe from `D1` that only contains the student ID and the presentation for students from Ireland, again by clicking the cell below and pressing Shift + Enter. As with last week's assignment, you will see some text on a light red background that says "Attaching package: 'dplyr'". You can ignore the text with the red background

In [ ]:
library(dplyr)
D2 <- filter(D1, region == "Ireland")
D2 <- select(D2, id_student, code_presentation)
D2

3) Create a new variable (column) called “count” that only contains the number 1 for each entry.

In [ ]:
D2$count <- 1

4) Using the “spread” function from the “tidyr” package, create a new data frame `D3` in wide format. There will be a column for the student ID number, and one column for each registration date. The columns for each registration date should contain the value 1 if the student on that row registered for that date, and the value NA if they did not.

In [ ]:
library(tidyr)
D2 <- unique(D2)
D2 <- spread(D2, code_presentation, count)
D2

5) Next, remove missing data by listwise deletion using `na.omit()`. This will remove rows that contain any `NA` values.

In [ ]:
D3 <- na.omit(D2)
D3

6) Find the ID number for the student that participated in all four courses and enter it in edX.